@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

/* Alegreya Font */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

:root {
  --background: #F9F0EEFF;
  --calm-gren: #B8C5BDFF;
  --pi-pink: #D9BCD1FF;
  --bi-blue: #C0D6D8FF; 

  --craton-gey: #746164FF;
  --foreground: #083344;
  --foreground-highlight: #C0D6D8FF;
}

@layer base {
  html {
    font-family: 'Roboto Flex', sans-serif;
      }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A3128; /* Couleur de fond */
    --foreground: #F9F0EEFF; /* Couleur du texte */
    --foreground-highlight: #D67D3EFF; /* Exemple de couleur */
  }
}

body {
  background: var(--background); 
  color: var(--foreground);
  font-family: 'Roboto Flex', sans-serif;
}

.foreground-highlight {
  color: var(--foreground-highlight);
}
