@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F0EEFF;
  --calm-gren: #B8C5BDFF;
  --pi-pink: #D9BCD1FF;
  --bi-blue: #C0D6D8FF; 

  --craton-gey: #746164FF;
  --stone-blue: #083344;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--background);
  color: var(--stone-blue)
}
